---
import { Icon } from "astro-icon/components";
import { profileConfig } from "../../config";
import { url } from "../../utils/url-utils";
import ImageWrapper from "../misc/ImageWrapper.astro";

const config = profileConfig;
---
<div class="card card-compact widget-shell">
    <div class="card-body p-3">
        <a
            aria-label="Go to About Page"
            href={url('/about/')}
            class="profile-avatar-link group"
        >
            <div class="profile-avatar-overlay">
                <Icon
                    name="fa6-regular:address-card"
                    class="profile-avatar-overlay-icon"
                />
            </div>
            <ImageWrapper
                src={config.avatar || ""}
                alt="Profile Image of the Author"
                class="mx-auto lg:w-full h-full lg:mt-0 "
            />
        </a>
        <div class="px-2">
            <div class="profile-name-text">{config.name}</div>
            <div class="h-1 w-5 bg-(--primary) mx-auto rounded-full mb-2 transition"></div>
            <div class="profile-bio-text">{config.bio}</div>
            <div class="flex flex-wrap gap-2 justify-center mb-1">
                {config.links.length > 1 && config.links.map(item =>
                    <a
                        rel="me"
                        aria-label={item.name}
                        href={item.url}
                        target="_blank"
                        class="profile-social-circle"
                    >
                        <Icon name={item.icon} class="text-[1.5rem]"></Icon>
                    </a>
                )}
                {config.links.length == 1 && <a
                    rel="me"
                    aria-label={config.links[0].name}
                    href={config.links[0].url}
                    target="_blank"
                    class="profile-social-single"
                >
                    <Icon name={config.links[0].icon} class="text-[1.5rem]"></Icon>
                    {config.links[0].name}
                </a>}
            </div>
        </div>
    </div>
</div>

