---
import type { CollectionEntry } from "astro:content";
import { postIdToSlug } from "@utils/content-utils";
import { getPostUrlBySlug } from "@utils/url-utils";
import PostCard from "./PostCard.astro";

const { page } = Astro.props;

let delay = 0;
const interval = 50;
---
<div class="transition flex flex-col rounded-(--radius-large) bg-transparent gap-4 mb-4">
    {page.data.map((entry: CollectionEntry<"posts">) => (
        <PostCard
                entry={entry}
                title={entry.data.title}
                category={entry.data.category}
                published={entry.data.published}
                url={getPostUrlBySlug(postIdToSlug(entry.id))}
                image={entry.data.image}
                description={entry.data.description}
                class:list="onload-animation"
                style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
        ></PostCard>
    ))}
</div>
